    @import url(https://fonts.google.com/specimen/Red+Hat+Text);

    :root{
        --Grayish-blue: hsl(237, 18%, 59%);
        --White: hsl(0, 0%, 100%);
        --Dark-desaturated-blue: hsl(236, 22%, 25%);
        --Very-dark-blue: hsl(235, 16%, 14%);
        --Soft-red: hsl(345, 95%, 68%);

        --border: 1px solid #fff;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Red Hat Text', sans-serif;
    }

    .container{
        width: 100%;
        height: 100vh;
        background-color: var(--Very-dark-blue);
    }

    .container #first-img{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }

    .container #second-img{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 5;
    }

    .container .tittle{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--White);
        padding-top: 150px;
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 3px;
    }

    .container .content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container .content .sub-content{
        width: 100px;
        height: 100px;
        margin-left: 20px;
        margin-top: -95px;
        color: var(--Soft-red);
        font-size: 50px;
        font-weight: 700;
        background-color: hsl(240, 13%, 9%);
        border-radius: 5px;
        /*display: flex;
        align-items: center;
        justify-content: center;*/
    }
    .container .content .sub-content span{
        position: absolute;
        top: 38.5%;
        margin-left: 22px;
    }

    .container .content .sub-content .card1{
        width: 100%;
        height: 50%;
        background-color: hsl(238, 22%, 24%);
        border-radius: 5px 5px 8px 8px;
    }
    .container .content .sub-content .card2{
        width: 100%;
        height: 45%;
        background-color: var(--Dark-desaturated-blue);
        border-radius: 8px 8px 5px 5px;
    }
    .container .content .sub-content h2{
        margin-top: -130px;
        margin-left: 25px;
        color: var(--Soft-red);
        padding-top: 150px;
        font-size: 11px;
        font-weight: 700;
        z-index: 11px;
    }
    .container .content .sub-content .tittles5{
        margin-left: 35px;
    }
    .container .content .sub-content .tittles4{
        margin-left: 33px;
    }
    .container .content .sub-content .tittles3{
        margin-left: 27px;
    }


    .container .bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 150px;
        z-index: 6;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .container .bottom svg{
        margin-left: 20px;
        fill: #8385A9;
        transition: 2s linear infinite;
        cursor: pointer;
    }

    .container .bottom svg:hover{
        fill: var(--Soft-red);
        transition: 2s linear infinite;
    }

    @media (max-width:525px) {
        .container .tittle{
            font-size: 8px;
        }
        .container .content .sub-content{
            width: 80px;
            height: 80px;
        }
        .container .content .sub-content span{
            position: absolute;
            top: 40%;
            margin-left: 11px;
        }
    }


